/* 全局变量 (uni-app 约定) */
$uni-color-primary: #ff5e62;
$uni-color-success: #4caf50;
$uni-color-warning: #ff9900;
$uni-color-error: #e43d33;
$uni-text-color: #1f2329;
$uni-text-color-grey: #86909c;
$uni-bg-color: #f5f6f8;
$uni-border-color: #ebeef5;
